// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin product-card() {
	width: 250px !important;
	height: 400px !important;
	display: grid;
	grid-auto-flow: row;
	gap: 0.5rem;
	align-items: space-between;
	margin: 0 0 0 0 !important;



	.product-image img {
	  width: 100%;
	  height: 200px;
	  object-fit: cover;
	}

	h2 {
	  font-size: 1.2rem;
	  font-weight: 600;
	  margin-bottom: 0.5rem;
	  color: #151515;
	}

	.price {
	  font-size: 1.125rem;
	  font-weight: 600;
	}

	.add_to_cart_button {
	  padding: 0.5rem 1rem;
	  border-radius: 0.25rem;
	  font-size: 1rem;
	  font-weight: 600;
	  text-decoration: none;
	  transition: all 0.3s ease-in-out;
	  text-align: center;;
	  align-self: end;

	  &:hover {
		text-decoration: none;
	  }
	}
}
